<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Actors List</title>
</head>
<body>
<h1>Actors List</h1>
<table>
    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Last Update</th>
    </tr>
    <tr th:each="actor : ${actors}">
        <td th:text="${actor.actorId}"></td>
        <td th:text="${actor.firstName}"></td>
        <td th:text="${actor.lastName}"></td>
        <td th:text="${actor.lastUpdate}"></td>
    </tr>
</table>
</body>
</html>
